[submodule "vim/pack/external/start/jellybeans.vim"]
	path = vim/pack/external/start/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim
[submodule "vim/pack/external/start/lightline.vim"]
	path = vim/pack/external/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/pack/external/start/quick-scope"]
	path = vim/pack/external/start/quick-scope
	url = https://github.com/unblevable/quick-scope
[submodule "vim/pack/external/start/vimwiki"]
	path = vim/pack/external/start/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "vim/pack/external/start/julia-vim"]
	path = vim/pack/external/start/julia-vim
	url = https://github.com/JuliaEditorSupport/julia-vim.git
[submodule "vim/plugged/Colorizer"]
	path = vim/plugged/Colorizer
	url = https://github.com/chrisbra/Colorizer
[submodule "vim/plugged/YouCompleteMe"]
	path = vim/plugged/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe
[submodule "nvim"]
	path = nvim
	url = git@github.com:cvigilv/mateo.nvim
