[submodule "vim/pack/external/start/jellybeans.vim"]
	path = vim/pack/external/start/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim
[submodule "vim/pack/external/start/lightline.vim"]
	path = vim/pack/external/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/pack/external/start/quick-scope"]
	path = vim/pack/external/start/quick-scope
	url = https://github.com/unblevable/quick-scope
[submodule "vim/pack/external/start/vimwiki"]
	path = vim/pack/external/start/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
