! pmenu settings
pmenu.font          : unifont:size=12
pmenu.background    : #1A1B26
pmenu.foreground    : #EDF0FC
pmenu.selbackground : #434675
pmenu.selforeground : #1A1B26
pmenu.border        : #6c71c4
pmenu.separator     : #6c71c4
pmenu.borderWidth   : 3
pmenu.separatorWidth: 3
pmenu.diameterWidth : 250
